modules = ["nodejs-20", "bash"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 45077489
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
