# .env.example

# Database
DATABASE_URL=postgresql://postgres:OwVyDnYcKlkmRkttupvfCSlKkOWAlpJL@trolley.proxy.rlwy.net:10414/railway?connection_limit=20&pool_timeout=30
# JWT Secret (Use uma string longa e aleatória para produção)
JWT_SECRET="aebd6ebe83b77673c90c3752c53c3bf20591b26803727859d3a728a0cd57abc2"
JWT_EXPIRATION_TIME="1h" # Ex: 1h, 7d, 24h

# Porta da aplicação NestJS
PORT=3000

# Outras variáveis de ambiente (ex: chaves de API de pagamento, etc.)
# STRIPE_SECRET_KEY="sk_test_..."
# MERCADO_PAGO_ACCESS_TOKEN="APP_USR-..."

PAGSEGURO_API_TOKEN=67b220b7-74a4-4e0d-a59e-d9164141c668edd70ac04afbb8d4416c50fb4de6a4d64082-9bbe-4a3a-ae2d-1ceadc797e86
PAGSEGURO_API_BASE_URL=https://api.pagseguro.com
PAGBANK_ENV=production
# WhatsApp Business API
WHATSAPP_API_BASE_URL=https://graph.facebook.com/v17.0/YOUR_WHATSAPP_BUSINESS_ID
WHATSAPP_API_TOKEN=
WHATSAPP_PIX_KEY=
WHATSAPP_PIX_RECEIVER_NAME=BlueCoder Software e Data LTDA
# Z-API integration (ZAPI_INSTANCE_ID optional for telemetry)
ZAPI_INSTANCE_ID=3ED4E9F6E6CCD1A0219782BFEDF24C27
ZAPI_TOKEN=16B86FD29488B58F46CCD77B
ZAPI_BASE_URL=https://api.z-api.io/instances/3ED4E9F6E6CCD1A0219782BFEDF24C27/token/16B86FD29488B58F46CCD77B
